<div class="row mb-2" *ngFor="let row of contacts">
  <div class="col-sm-4" *ngFor="let c of row">
      <div class="card">
          <div class="card-body">
            <i class="fa fa-user mr-2"></i> {{c.fullName}}<br>
            <i class="fa fa-envelope mr-2"></i> {{c.email}}<br>
            <i class="fa fa-phone mr-2"></i> {{c.mobile}}<br>
            <div class="float-right">
                <i class="fa fa-edit mr-2"></i>
                <i class="fa fa-trash mr-2"></i>
            </div>
          </div>
        </div>
  </div>
</div>

